[submodule "lib/viewzavr-core"]
	path = lib/viewzavr-core
	url = ../viewzavr-core.git
[submodule "lib/visualization-components"]
	path = lib/visualization-components
	url = ../visualization-components.git
[submodule "lib/library-one"]
	path = lib/library-one
	url = ../library-one.git
[submodule "lib/viewlang"]
	path = lib/viewlang
	url = https://github.com/pavelvasev/viewlang.git
